<?xml version="1.0" encoding="UTF-8"?>
<plugin id="FastJsonInput" iconfile="FJSI.png" description="Fast JSON Input"
	tooltip="Parses JSON input with a native Java parser" category="Input"
	classname="com.trail2peak.pdi.fastjsoninput.FastJsonInputMeta">
	<libraries>
		<library name="fastjsoninput.jar" />
		<library name="json-path-1.2.0.jar" />
		<library name="json-smart-2.2.jar" />
		<library name="asm-1.0.2.jar" />
	</libraries>

	<localized_category>
		<category locale="en_US">Input</category>
	</localized_category>
	<localized_description>
		<description locale="en_US">Fast JSON Input</description>
		<description locale="fr_FR">Extraction rapide depuis JSON
		</description>
	</localized_description>
	<localized_tooltip>
		<tooltip locale="en_US">Fast JSON Input</tooltip>
		<tooltip locale="fr_FR">Extraction rapide depuis JSON</tooltip>
	</localized_tooltip>
</plugin>
